// Body
$body-bg: rgb(195, 176, 133);

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//colors
$colortheme1: rgb(0, 0, 0);
$colortheme2: rgb(195, 176, 133);
$colortheme3: #fff;


$accordion-bg: $colortheme1;
$accordion-color:  $colortheme2;
$accordion-button-active-bg: rgba(65, 63, 63, 0.116);
$accordion-button-active-color:$colortheme2;
$btn-focus-box-shadow:$colortheme2;
$accordion-border-color:$colortheme1;
$accordion-button-bg:rgba(65, 63, 63, 0.116);
