// Body
$body-bg: rgb(195, 176, 133);

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//colors
$colortheme1: rgb(0, 0, 0);
$colortheme2: rgb(195, 176, 133);
$colortheme3: #fff;


