// Body
$body-bg: #727272;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//colors
$colortheme1: black;
$colortheme2: rgb(195, 176, 133);
$colortheme3: #fff;


