// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

//this before importing bootstrap will override dark and light for mode switch editing.
$light: #dddddd;
$dark: #000;

@import "bootstrap";

// Bootstrap
@import '~bootstrap/scss/bootstrap';



[class*="col"]{
    margin:0 auto;
    padding: 1rem;
    background-color: $colortheme1;
    // border: 2px solid rgb(156, 156, 156);
    color: $colortheme2;
    text-align: center;

}

ul{
    list-style: none;

    li{

        display: block;
        a{
            text-align: justify;
            text-decoration-line: none;
            color: $colortheme2;
        }
        a:hover{
            color: $colortheme3;
        }
    }

}


.sidr ul li span {
    padding: 0 15px;
    display: block;
    text-decoration: none;
    // color: $colortheme2;
}

.main{
    main{
        height: 100%;
    }
}

p{
    padding: 1em;

}

.section{
    margin-top: auto;
    position: relative;
    height: 10vh;
    display: block;
    span{
        font-size: 18px;
        font-weight: 500;
    }
}
.about{
    background-image: url('/images/bgimage7.jpg');
    background-size: cover;
    background-position: center ;
    background-attachment: fixed;
    background-repeat: repeat-y;
}

.section-text{
    text-align: left;
    height: 30%;
    padding-left: 20%;
    display: block;
}

.wrapper{
    min-height: 15em;
}

.header{
    min-height: 8em;
    border-radius: 2rem;
}

a{
    text-decoration: none;
    color: $colortheme3;
}

.adminmenu{
    z-index: 1;
    position: relative;
}

.sctitle{
    font-size: xx-large;
    font-weight: bolder;
    display: block;
    padding-top: 2.5%;
}

.ctlist{
    min-height: 3em;
}

.no-padding{
    padding: 0;
}

.ck-editor__editable_inline {
    min-height: 20rem;
}

.ck-editor__editable{
    width: 100%;
}

input{
    background-color: $colortheme1;
    color: $colortheme2;
}

.sectionimage{
    height: auto;
    width: 90%;
    border-radius: 1rem;
    margin: auto;
    padding: auto;

}

.headerimage{
    background-image: url('/images/Mare Mic Website.png');
    background-size: cover;
    background-position: center center;

}

/* Styles for the modal container */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
}

/* Styles for the modal content */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('/images/pergamen.png') no-repeat center center fixed; /* Replace 'path/to/parchment.png' with the actual path to your image */
    background-size: contain; /* Use contain to ensure the entire image is visible */
    background-position: center; /* Center the background image */
    padding: 40px;
    border-radius: 10px;
    width: 70%;
    max-width: 500px;
    color: #fff; /* Set text color to contrast with the background */
}

/* Styles for the close button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #fff; /* Set close button color to contrast with the background */
    cursor: pointer;
}

.height100{
    height: 60vh;
    margin: auto;
}

.quote{
    margin-top: 5rem;
}

.logonobg{
    max-height: 5rem;
    width: auto;
}

//pagination
.page-link {
    position: relative;
    display: block;
    color: $colortheme2;
    text-decoration: none;
    background-color: $colortheme1;
    border: 1px solid $colortheme2;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.page-item.active .page-link {
    z-index: 3;
    color: $colortheme1;
    background-color: $colortheme2;
    border-color: $colortheme2;
}

.page-item.disabled .page-link {
    color: #ff3a3a;
    pointer-events: none;
    background-color: rgb(0, 0, 0);
    border-color: #000000;
}


@media (min-width: 576px) {
    .position-sm-static {
      position: static !important;
    }
    .position-sm-relative {
      position: relative !important;
    }
    .position-sm-absolute {
      position: absolute !important;
    }
    .position-sm-fixed {
      position: fixed !important;
    }
    .position-sm-sticky {
      position: sticky !important;
    }
  }
  @media (min-width: 768px) {
    .position-md-static {
      position: static !important;
    }
    .position-md-relative {
      position: relative !important;
    }
    .position-md-absolute {
      position: absolute !important;
    }
    .position-md-fixed {
      position: fixed !important;
    }
    .position-md-sticky {
      position: sticky !important;
    }
  }

  @media (min-width: 992px) {
    .position-lg-static {
      position: static !important;
    }
    .position-lg-relative {
      position: relative !important;
    }
    .position-lg-absolute {
      position: absolute !important;
    }
    .position-lg-fixed {
      position: fixed !important;
    }
    .position-lg-sticky {
      position: sticky !important;
    }
  }

  @media (min-width: 1200px) {
    .position-xl-static {
      position: static !important;
    }
    .position-xl-relative {
      position: relative !important;
    }
    .position-xl-absolute {
      position: absolute !important;
    }
    .position-xl-fixed {
      position: fixed !important;
    }
    .position-xl-sticky {
      position: sticky !important;
    }
}

/* For Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #5e4934; /* Brown background color */
}

::-webkit-scrollbar-thumb {
    background: #8b735b; /* Darker brown for the thumb */
    border-radius: 6px; /* Optional: Add border-radius for a rounded look */
}

::-webkit-scrollbar-thumb:hover {
    background: #644c36; /* Darker brown for the hover effect */
}

/* Hide scrollbar on mobile devices */
@media only screen and (max-width: 768px) {
    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}


